<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <div class="logo">Franklin Accelerator Services Application</div>
        <div class="logo-separator"></div>
    </div>

    <div class="application-nav-item" data-section="franklintour">
        <svg><use href="#icon-companyreport"/></svg>
        Application Guide
    </div>

    <div class="application-nav-item" data-section="franklinworkspace">
        <svg><use href="#icon-companyreport"/></svg>
        Application Workspace
    </div>

    <div class="application-nav-item" data-section="franklinhistory">
        <svg><use href="#icon-rapidreview"/></svg>
       Conversation History
    </div>

    <div class="application-nav-item" data-section="registry">
        <svg><use href="#icon-concierge"/></svg>
        Appraisal Program Registry
    </div>

    <div class="application-nav-item" data-section="mainmenu">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>
</div>
