{# partials/sidebar.html #}
<div class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <div class="logo-container">
            <div class="logo">Tangible Intelligence Platform</div>
            <div class="logo-separator"></div>
        </div>
        
        <div class="menu-items-container">
    <div class="menu-item" data-section="companyreport" data-type="running-board">
        <svg><use href="#icon-companyreport"/></svg>
        Our Firm
    </div>

    <div class="menu-item" data-section="rapidreview" data-type="applications-package">
        <svg><use href="#icon-rapidreview"/></svg>
        Rapid Response Group
    </div>

    <div class="menu-item" data-section="concierge" data-type="running-board">
        <svg><use href="#icon-concierge"/></svg>
        Concierge
    </div>



    <div class="menu-item has-submenu" data-section="operationscommand">
        <svg><use href="#icon-home"/></svg>
        Headquarters
    </div>
    <div class="submenu">
        <div class="menu-item" data-section="operations" data-type="running-board">Briefing Room</div>
        <div class="menu-item" data-section="dashboard" data-type="table-reporting">In Flight</div>
        <div class="menu-item" data-section="engineering" data-type="running-board">Dealmaker</div>
        <div class="menu-item" data-section="archaeology" data-type="running-board">Portfolio Analyst</div> 
        <div class="menu-item" data-section="engagementpackage" data-type="running-board">The Keep</div>      
        <div class="menu-item" data-section="readyroom" data-type="running-board">Ready Room</div>  
        <div class="menu-item" data-section="configuration" data-type="running-board">Configuration</div> 
        <div class="menu-item" data-section="sandbox" data-type="running-board">Sandbox</div>       
       

    </div>

    <div class="menu-item" data-section="tangibleteams" data-type="running-board">
        <svg><use href="#icon-tangibleteams"/></svg>
        Tangible CoIntelligence Service Teams
    </div>

    <div class="menu-item" data-section="houseapps" data-type="running-board">
        <svg><use href="#icon-houseapps"/></svg>
        {{ g.config.get('menu_config', {}).get('applications_dock_text', 'House Applications Dock') }}  
    </div>
   
    <div class="menu-item" data-section="exchange" data-type="running-board">
        <svg><use href="#icon-speakeasy"/></svg>
        The Application Exchange
    </div>

    <div class="menu-item" data-section="speakeasy" data-type="running-board">
        <svg><use href="#icon-speakeasy"/></svg>
        The Tangible Speakeasy
    </div>

    <div class="menu-item" data-section="platformtour" data-type="running-board">
    <svg><use href="#icon-settings"/></svg>
    Platform Tour
    </div>


    <div class="menu-item" data-section="settings" data-type="running-board">
        <svg><use href="#icon-settings"/></svg>
        Settings
    </div>

    <div class="menu-item" data-section="login" data-type="running-board">
        <svg><use href="#icon-settings"/></svg>
        Log-In
    </div>
</div>
</div>

<div class="footer-text">
<p>Powered by Tangible Intelligence</p>
</div>
</div>

