{# partials/sidebar.html #}
<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <div class="logo">Transaction Services Platform</div>
        <div class="logo-separator"></div>
    </div>

    <div class="menu-item" data-section="companyreport">
        <svg><use href="#icon-companyreport"/></svg>
        My Company
    </div>
    
    <div>


        <div class="menu-item" data-section="companyreport">
            <svg><use href="#icon-companyreport"/></svg>
            My Company
        </div>


        <div class="menu-item" data-section="concierge">
            <svg><use href="#icon-concierge"/></svg>
            Concierge
        </div>
        <div class="menu-item has-submenu" data-section="operationscommand">
            <svg><use href="#icon-home"/></svg>
            Headquarters/HQ/
        </div>
        <div class="submenu">
            <div class="menu-item" data-section="operations">Briefing Room</div>
            <div class="menu-item" data-section="dashboard">Active Projects</div>
            <div class="menu-item" data-section="engineering">Engineering Group</div>
            <div class="menu-item" data-section="analyticsgroup">Analytics Group</div> 
            <div class="menu-item unique-has-submenu nested-parent" data-section="steadystate">
                Steady State
                <div class="apollo-submenu">
                    <div class="menu-item" data-section="currentengagements">Current Engagements</div>
                    <div class="menu-item" data-section="locker">My Locker</div>
                    <div class="menu-item" data-section="familygroup">Transaction Families</div>
                </div>
            </div>
                   
            <div class="menu-item" data-section="readyroom">Ready Room</div>  
            <div class="menu-item" data-section="configuration">Configuration</div> 
            <div class="menu-item" data-section="sandbox">Sandbox</div>       
            <div class="menu-item" data-section="platformtour">Platform Tour</div>
        </div>     
        <div class="menu-item" data-section="tangibleteams">
            <svg><use href="#icon-tangibleteams"/></svg>
            Tangible CoIntelligence Service Teams
        </div>

        <div class="menu-item" data-section="houseapps">
            <svg><use href="#icon-houseapps"/></svg>
            House Apps
        </div>
       

        <div class="menu-item" data-section="speakeasy">
            <svg><use href="#icon-speakeasy"/></svg>
            The Tangible Speakeasy
        </div>

        <div class="menu-item" data-section="settings">
            <svg><use href="#icon-settings"/></svg>
            Settings
        </div>

        <div class="footer-text">
            <p>Powered by Tangible Intelligence</p>
        </div>

</div>