{% extends "base.html" %}

{% block sidebar %}
    <div 
         data-view-type="application"
         data-application="{{ section }}"
         data-origin-section="{{ section }}"
         id="sidebar-app"
    >
        {% include 'applicationlaunchpages/' ~ section ~ '_sidebar.html' %}
    </div>
{% endblock %}

{% block content %}
    <div 
         data-view-type="application"
         data-application="{{ section }}"
         data-origin-section="{{ section }}"
         id="content-app"
    >
        {# Application content goes here #}
        <p>Testing, Alpha</p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // Application initialization logging
        console.log('{{ section|title }} Package Template Loaded Successfully (Apple Test)');
        
        document.addEventListener('DOMContentLoaded', () => {
            console.log('Initializing {{ section|title }} Package...');
        });
    </script>
{% endblock %}