
<div class="sidebar" id="conciergesidebar">
    <div class="logo-container">
        <div class="logo">The Tangible Concierge</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="conciergetour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
     The Tangible Concierge: An Overview
    </div>

    <div class="menu-item" data-section="conciergedashboard" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
       Concierge Dashboard
    </div>

      <div class="menu-item" data-section="launchconciergematter" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Launch a New Matter
    </div>

    <div class="menu-item" data-section="conciergeportfolio" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        ConciergePortfolio
    </div>



    <div class="menu-item" data-section="conciergefeaturerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Concierge Feature Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


