
<div class="sidebar" id="houseappssidebar">
    <div class="logo-container">
        <div class="logo">Hawkeye Applications Hub</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="houseappstour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
      Our Applications: An Overview
    </div>

    <div class="menu-item" data-section="houseappsprojects" data-type="table-reporting">
        <svg><use href="#icon-rapidreview"/></svg>
      Application Portfolio Projects
    </div>


    <div class="menu-item" data-section="launchhouseappsengineer" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Launch New Application
    </div>

    <div class="menu-item" data-section="houseappsportfolio" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Our Application Portfolio
    </div>



    <div class="menu-item" data-section="servicerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Service Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


