{# partials/sidebar.html #}
<div class="sidebar" id="s3_sidebar">
    <div class="logo-container">
        <div class="logo">Tangible Storage Partner</div>
        <div class="logo-separator"></div>
    </div>

   
    
    





    <div class="menu-item" data-action="upload">
        <svg><use href="#icon-companyreport"/></svg>
      Upload Files
    </div>

   <div class="menu-item" data-action="browse">
        <svg><use href="#icon-rapidreview"/></svg>
       Browse Files
    </div>

   <div class="menu-item" data-action="manage">
        <svg><use href="#icon-concierge"/></svg>
        Manage Storage
    </div>

    <div class="menu-item" data-action="return">
        <svg><use href="#icon-concierge"/></svg>
        Return to Main Menu
    </div>


    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


