
<div class="sidebar" id="sandboxsidebar">
    <div class="logo-container">
        <div class="logo">Tangible Sandbox</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="sandboxtour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
      Sandbox Brief
    </div>

    <div class="menu-item" data-section="sandboxprojects" data-type="table-reporting">
        <svg><use href="#icon-rapidreview"/></svg>
      Sandbox Projects
    </div>


    <div class="menu-item" data-section="launchsandboxengineer" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Launch New Application
    </div>

    <div class="menu-item" data-section="sandbox" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Sandbox Applications
    </div>



    <div class="menu-item" data-section="servicerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Service Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


