{# partials/sidebar.html #}
<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <div class="logo">Tangible Intelligence Platform</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="companyreport" data-type="running-board">
        <svg><use href="#icon-companyreport"/></svg>
      Testing Alpha
    </div>

    <div class="menu-item" data-section="rapidreview" data-type="applications-package">
        <svg><use href="#icon-rapidreview"/></svg>
        Rapid Response Group
    </div>

    <div class="menu-item" data-section="concierge" data-type="running-board">
        <svg><use href="#icon-concierge"/></svg>
        Concierge
    </div>



    <div class="menu-item has-submenu" data-section="operationscommand">
        <svg><use href="#icon-home"/></svg>
        Headquarters
    </div>
    <div class="submenu">
        <div class="menu-item" data-section="operations" data-type="running-board">Briefing Room</div>
        <div class="menu-item" data-section="dashboard" data-type="table-reporting">Active Projects</div>
        <div class="menu-item" data-section="engineering" data-type="applications-package">Dealmaking Group</div>
        <div class="menu-item" data-section="analyticsgroup" data-type="applications-package">Portfolio Analytics Group</div> 
        <div class="menu-item unique-has-submenu nested-parent" data-section="steadystate">
            Steady State
            <div class="apollo-submenu">
                <div class="menu-item" data-section="currentengagements" data-type="table-reporting">Current Engagements</div>
                <div class="menu-item" data-section="locker" data-type="running-board">My Locker</div>
                <div class="menu-item" data-section="familygroup" data-type="running-board">Transaction Families</div>
            </div>
        </div>
               
        <div class="menu-item" data-section="readyroom" data-type="applications-package">Ready Room</div>  
        <div class="menu-item" data-section="configuration" data-type="running-board">Configuration</div> 
        <div class="menu-item" data-section="sandbox" data-type="running-board">Sandbox</div>       
        <div class="menu-item" data-section="platformtour" data-type="running-board">Platform Tour</div>

    </div>

    <div class="menu-item" data-section="tangibleteams" data-type="applications-package">
        <svg><use href="#icon-tangibleteams"/></svg>
        Tangible CoIntelligence Service Teams
    </div>

    <div class="menu-item" data-section="houseapps" data-type="applications-package">
        <svg><use href="#icon-houseapps"/></svg>
        {{ g.config.get('menu_config', {}).get('applications_dock_text', 'House Applications Dock') }}  
    </div>
   
    <div class="menu-item" data-section="exchange" data-type="applications-package">
        <svg><use href="#icon-speakeasy"/></svg>
        The Application Exchange
    </div>

    <div class="menu-item" data-section="speakeasy" data-type="applications-package">
        <svg><use href="#icon-speakeasy"/></svg>
        The Tangible Speakeasy
    </div>

    <div class="menu-item" data-section="settings" data-type="running-board">
        <svg><use href="#icon-settings"/></svg>
        Settings
    </div>

    <div class="menu-item" data-section="login" data-type="running-board">
        <svg><use href="#icon-settings"/></svg>
        Log-In
    </div>

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


