
<div class="sidebar" id="speakeasysidebar">
    <div class="logo-container">
        <div class="logo">Tangible Speakeasy</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="speakeasygateway" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
      Speakeasy Gateway
    </div>

    <div class="menu-item" data-section="speakeasyportfolio" data-type="table-hold">
        <svg><use href="#icon-rapidreview"/></svg>
      Speakeasy Application Portfolio
    </div>


    <div class="menu-item" data-section="promotetospeakeasy" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Promote Sandbox Applications to Speakeasy
    </div>

    <div class="menu-item" data-section="myspeakeasy" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        My Applications
    </div>



    <div class="menu-item" data-section="speakeasyrequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Service Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


