
<div class="sidebar" id="tangibleteamssidebar">
    <div class="logo-container">
        <div class="logo">Tangible Team Station</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="tangibleteamstour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
      The Tangible Team: An Overview
    </div>

    <div class="menu-item" data-section="tangibleteamsprojects" data-type="table-reporting">
        <svg><use href="#icon-rapidreview"/></svg>
     Engaging with Tangible Conintelligence
    </div>

    <div class="menu-item" data-section="tangibleteamrosters" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
      Team Rosters
    </div>

<div class="menu-item" data-section="launchtangibleteamsengineer" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Request Tangible Team Support
    </div>


    <div class="menu-item" data-section="servicerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Fucntionality Service Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


