<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/engineering_console.css') }}">



    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/analytics_console.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/houseapp_console.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/foundational_layout.css') }}">
</head>


<body>


    <!-- Global Toast -->
    <div id="toast" class="toast"></div>
    
    <!-- SVG Icons Partial -->
    {% include 'components/svg/icons.html' %}

    <div class="container">
        <div class="sidebar">
            {% include 'components/partials/sidebar.html' %}
        </div>
        
        <div class="engagement-window">
            {% block content %}{% endblock %}
        </div>
    </div>


<script src="{{ url_for('static', filename='js/core/eventListener.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.eventDelegate = new EventDelegate();
    });
</script>



</body>
</html>
