<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <div class="logo">Team Appraisal Services Application</div>
        <div class="logo-separator"></div>
    </div>

    <div class="application-nav-item" data-section="appraisaltour">
        <svg><use href="#icon-companyreport"/></svg>
        Application Guide
    </div>

    <div class="application-nav-item" data-section="appraisalcommand">
        <svg><use href="#icon-companyreport"/></svg>
        Application Dashboard
    </div>

    <div class="application-nav-item" data-section="launchappraisal">
        <svg><use href="#icon-rapidreview"/></svg>
        Launch Appraisal Cycle
    </div>

    <div class="application-nav-item" data-section="registry">
        <svg><use href="#icon-concierge"/></svg>
        Appraisal Program Registry
    </div>

    <div class="application-nav-item" data-section="mainmenu">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>
</div>
