
<div class="sidebar" id="archaeologysidebar">
    <div class="logo-container">
        <div class="logo">Tangible Portfolio Analyst</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="archaeologytour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
     The Portfolio Analyst Package: An Overview
    </div>

      <div class="menu-item" data-section="launchdealmaker" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Launchpad
    </div>

    <div class="menu-item" data-section="archaeologyportfolio" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        In Flight
    </div>



    <div class="menu-item" data-section="archaeologyfeaturerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Feature Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


