
<div class="sidebar" id="engagementsidebar">
    <div class="logo-container">
        <div class="logo">The Current Engagement Package</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="engagementtour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
     An Overview
    </div>


    <div class="menu-item" data-section="engagementdashboard" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
       Engagement Dashboard
    </div>

      <div class="menu-item" data-section="engagementportfolio" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Our Portfolio
    </div>


    <div class="menu-item" data-section="transactiontrees" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
       Transaction Family Trees
    </div>

    <div class="menu-item" data-section="servicerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Functionality Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


