
<div class="sidebar" id="engineeringsidebar">
    <div class="logo-container">
        <div class="logo">Tangible Applications engineering</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="engineeringtour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
     The Dealmaker Package: An Overview
    </div>

      <div class="menu-item" data-section="launchdealmaker" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Dealmaker Launchpad
    </div>

    <div class="menu-item" data-section="engineeringportfolio" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        In Flight
    </div>



    <div class="menu-item" data-section="engineeringfeaturerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Feature Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


