{% extends "base.html" %}

{% block sidebar %}
    <div 
        data-view-type="application" 
        data-application="sandbox" 
        data-origin-section="{{ section }}"  
        data-handler="sandbox"
        id="sidebar-app"
    >
        {% include 'applicationlaunchpages/sandbox_sidebar.html' %}
    </div>
{% endblock %}

{% block content %}
    <div 
        data-view-type="application" 
        data-application="sandbox" 
        data-origin-section="{{ section }}" 
        id="content-app"
    >
        {# Application content goes here #}
        <p>Testing, Alpha, One, Two Three</p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // Application initialization logging
        console.log('Sandbox Package Template Loaded');
        
        document.addEventListener('DOMContentLoaded', () => {
            console.log('Initializing Sandbox Package...');
        });
    </script>
{% endblock %}