
<div class="sidebar" id="readyroomsidebar">
    <div class="logo-container">
        <div class="logo">Tangible Ready Room</div>
        <div class="logo-separator"></div>
    </div>
    <div class="menu-item" data-section="readyroomtour" data-type="hold">
        <svg><use href="#icon-companyreport"/></svg>
     Settings Panel
    </div>

      <div class="menu-item" data-section="launchreadyroomengineer" data-type="hold">
        <svg><use href="#icon-rapidreview"/></svg>
        Deploy a  New Application
    </div>

    <div class="menu-item" data-section="readyroomportfolio" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Our Application Portfolio
    </div>



    <div class="menu-item" data-section="servicerequests" data-type="hold">
        <svg><use href="#icon-home"/></svg>
        Service Requests
    </div>

    <div class="menu-item" data-section="mainmenu" data-type="hold">
        <svg><use href="#icon-concierge"/></svg>
        Main Menu
    </div>
  

    <div class="footer-text">
        <p>Powered by Tangible Intelligence</p>
    </div>

</div>


