
/* static/css/base/layout.css */
:root {
    --sidebar-width: 295px;
   
}

body {
    min-height: 100vh;
    background-color: var(--ivory-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}






/* static/css/base/layout.css */
.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    background-color: var(--sidebar-bg);
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    left: 0;
    top: 0;
    color: var(--sidebar-text);
}


.engagement-window {
    margin-left: var(--sidebar-width);
    flex: 1;
    min-height: 100vh; 
    background-color: var(--ivory);  
    width: calc(100% - var(--sidebar-width));  /* Add this to account for sidebar */
    position: fixed;           /* Add this to fix it in place */
    top: 0;                   /* Align to top */
    right: 0;                 /* Align to right */
    bottom: 0;                /* Extend to bottom */
    overflow-y: auto;         /* Allow scrolling of content inside */
}







.menu-item {
    color: var(--sidebar-text);
}









